body
{
	background-color:#18121E;
	color:#D5D5D5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight:300;
}

.page{
    width:800px;
    margin:20px auto;
}

.button
{
	box-sizing:border-box;
	background: #CCCCCC;
	color:#111111;
	box-shadow: inset 0px 0px 0px 3px #282828;
	border:1px solid #EEEEEE;
	width:60px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

table {
  background-color:#D5D5D5;
  color:#18121E;
}


.td-status {
	text-align: center;
}
.td-status-default  { color:#000000; }
.td-status-failed   { color:#DD0000; }
.td-status-fetching { color:#ffe217; }
.td-status-complete { color:#009525; }


